<header>
  <div class="inner">
    <a href="https://icfpcontest2018.github.io/index.html">
      <h1>ICFP Programming Contest 2018</h1>
    </a>
  </div>
</header>

<div id="content-wrapper">
  <div class="wide-inner clearfix">
    <section id="main-content" style="width: 100%;">
      <h1 id="execute-trace-lightning-no-visualizer">
        Execute Trace (Lightning, No Visualizer)
      </h1>

      <form>
        <input type="hidden" id="full" value="true">

        <p>
          <label for="srcModelFileIn">Source Model:</label>
          <input type="checkbox" id="srcModelEmpty">
          <label for="srcModelEmpty">empty</label><br>
          <input type="file" accept=".mdl" id="srcModelFileIn">
        </p>

        <p>
          <label for="tgtModelFileIn">Target Model:</label>
          <input type="checkbox" id="tgtModelEmpty">
          <label for="tgtModelEmpty">empty</label><br>
          <input accept=".mdl" type="file" id="tgtModelFileIn">
        </p>

        <p>
          <label for="traceFileIn">Trace:</label>
          <input accept=".nbt" type="file" id="traceFileIn">
          <input type="button" id="chkTrace" value="Check Trace">
        </p>

        <p>
          <label for="stepsPerFrame">Steps per Refresh:</label><br>
          <select id="stepsPerFrame">
            <option value="2000">2000</option>
            <option value="3000">3000</option>
            <option value="4000">4000</option>
            <option value="10000" selected>10000</option>
          </select>
        </p>

        <p>
          <input type="button" id="execTrace" value="Execute Trace">
        </p>
      </form>

      <pre id="stdout"></pre>
    </section>
  </div>
</div>
